@import '../../style/globalVariableStyle.scss';

.search {
  position: relative;
}

.search__icon {
  width: 20px;
  height: 20px;
  transition: all .1s .1s;
  position: absolute;
  top: 5px;
  right: $padding-right*2;
  color: $color-gray;

  &:hover {
    cursor: pointer;
    color:$color-gray-light;
  }
}


