@import '../../style/globalVariableStyle.scss';

.input-group {
  position: relative;
  margin-bottom: $margin-bottom;

}

.input-group__content > input {
  border: none;
  height: 45px;
  border-bottom: 1.5px solid $color-minor;
  color: $color-dark;
  background: transparent;

  &:hover {
    border-color: $color-minor-light;

    + .input-group__label {
      top: -1rem;
      font-weight: 800;
    }
  }
}

.input-group__content > .input-group__label {
  position: absolute;
  top: -0.5rem;
  left: 0;
  transition: top 0.2s;
  font-weight: 600;
}

.input-group__content > .input-group__helper {
  color: $color-danger;
  padding: $padding-top 0 0 0;
  line-height: $font-size * 0.7;
  font-size: $font-size * 0.7;
}

.input-group__content > input:focus {
  outline: none;
}