<div class="chat-block logic-block flex flex_direction_column ">
    <div class="chat-block__content flex flex_direction_column ">
        <div class="chat-block__content-item chat-block__header flex flex_direction_row flex_justify-content_space-between">
            <div class="chat-block__header-avatar">
                {{> avatar }}
            </div>
            <div class="chat-block__header-name">
                {{ name }}
            </div>
            {{> icon id="more_vert" classIcon="icon__msg dropdown-btn material-icons_dark" }}
            <div class="dropdown-content logic-block">
                <ul>
                    <li id="li-add-user">Добавить пользователя</li>
                    <li id="li-del-user">Удалить пользователя</li>
                </ul>
            </div>
        </div>
        <div class="chat-block__content-item chat-block__main flex flex_direction_column">
            {{#each msgList as |itemdMsg idMsg|}}
                <div class="chat-row chat-row-{{itemdMsg.type}} flex">
                    <div class="msg">
                        {{itemdMsg.text}}
                        <span class="msg__time">{{itemdMsg.time}}
                        </span>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="chat-block__content-item chat-block__footer flex flex_direction_row flex_justify-content_space-between">
            {{> icon id="attach_file" classIcon="material-icons_dark"}}
            {{> input id="input-text" text="" placeholder="Начните писать сообщение здесь ..."}}
            {{> icon id="arrow_circle_right" classIcon="material-icons_violet"}}
        </div>
    </div>
    <div class="chat-block__content-not-selected-chat flex_justify-content_center flex_align-items_center">
        <span class="logic-block__text">Выберите чат, чтобы начать общение</span>
    </div>
</div>
