@import '../../style/globalVariableStyle.scss';

.menu {
  background: $color-main;
  height: calc(100vh - 40px);
  border-radius: 25px;
  margin: $margin-top 10px $margin-right $margin-bottom;
  box-sizing: border-box;
  padding: 15px 15px;
}

.menu__item {
  flex: 1;
  display: inline-grid;
  margin: auto auto;
}

.menu__item_center {
  align-items: center;
  flex-grow: 20;
}

.menu__item:hover {
  cursor: auto;
}

@media (max-device-width: 768px) {
  .menu {
    width: calc(100vw - 40px);
    flex-direction: row;
    margin: 13px $margin-left 10px $margin-bottom;
    height: auto;
  }
}