@import '../../style/globalVariableStyle.scss';
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  margin: $margin-top $margin-left 0 0;
}
.form__item {
  width: 100%;
  flex: 0 0 auto;
}
.form__item-input {
  margin-bottom: $margin-bottom * 2;
}
.form__item-button {
  flex: 0;
  margin-top: auto;

  > button {
    margin: 0 10px;
  }
}