<form class="form flex__item w-100" id="{{id}}">
    {{#each listInput}}
        <div class="form__item form__item-input">
            {{{this}}}
        </div>
    {{/each}}
    <div class="form__item flex flex_direction_row flex_justify-content_space-between form__item-button
flex_align-items_center">
    {{#each listBtn}}
            {{{this}}}
    {{/each}}
    </div>
</form>