@import '../../style/globalVariableStyle.scss';

.profile {
  box-sizing: border-box;
}

.profile__avatar {
  margin: 50px;
}

.profile__info {
  padding: $padding-left 0px;
}

.profile__links {
  margin-top: $margin-left;
}

.profile__info-row {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.profile__info-item {
  padding: 15px 75px;
}

.profile__info-left {
  padding-left: 0;
  font-weight: bold;
}

.profile__info-right {
  padding-right: 0;
  color: $color-gray-light;
}