@import '../../style/globalVariableStyle.scss';

.dialogs-block__item-search-form {
  margin: 0 0 10px;
}

.dialog-list {
  align-items: stretch;
  flex: 1;

  .dialog-list__row {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
  }

  .dialog-list__row:hover {
    background: $color-gray-very-light;
  }

  .dialog-list__row.selected {
    background: $color-gray-very-light;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__avatar:hover {
    content: '';
  }
}