@import '../../style/globalVariableStyle.scss';
@import '../../style/mixin.scss';
.dialogs-block {
  @include flex-constructor(column, center, null);
  width: 100%;
  flex-wrap: nowrap;
}
.dialogs-block__item-search-form {
  margin: 0 0 10px;
}
.dialog-list {
  align-items: stretch;
  flex: 1;
  @include flex-constructor(column, start, stretch);

  .dialog-list__row {
    border-bottom: 1px solid black;
    margin-bottom: 15px;
  }

  .dialog-list__row:hover {
    background: $color-gray-very-light;
  }

  .dialog-list__row.selected {
    background: $color-gray-very-light;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__avatar:hover {
    content: '';
  }
}