<div class="flex  flex_direction_column flex_center flex_justify-content_space-between logic-block flex_align-items_center">
    <h1 class="logic-block__header">{{headerTitle}}</h1>
    {{{formContent}}}
    {{> link text=aUrl.title href=aUrl.href }}
</div>
