<div class="flex flex_direction_column flex_align-items_center modal-change-img">
    {{> link text="Выбрать файл на компьютере" href="#" }}
    <span class="modal-change-img__error">Нужно выбрать файл</span>
</div>
{{> button id = "search" value ="Поменять"}}
