<div class="server-error flex flex_direction_column flex_justify-content_center">
    <h1 class="server-error__item server-error__code">{{errorCode}}</h1>
    <h2 class="server-error__item server-error__text">{{text}}</h2>
    {{> link text="Назад к чатам" href="/chats" classA="server-error__item"}}
</div>