<div class="content content_position-center w-100 flex_align-items_center">
    <div class="logic-block profile flex flex_direction_column flex_justify-content_space-between flex_align-items_center">
        <h1 class="logic-block__header">{{headerTitle}}</h1>
        {{> form listInput = listInput listBtn=listBtn id=id}}
    </div>
</div>
