@import '../../style/globalVariableStyle.scss';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: $font-size*2;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
  color: $color-light;
  text-align: center;

  &:hover {
    color: $color-gray-very-light;
  }
}
.material-icons_dark {
  color: $color-gray-light;

  &:hover {
    color: $color-gray;
  }
}
.material-icons_violet {
  color: $color-minor;

  &:hover {
    color: $color-minor-light;
  }
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}