<div class="modal" id="modal-block">
    <div class="modal__overlay"></div>
    <div class="modal__wrapper flex flex_justify-content_center flex_align-items_center">
        <div class="modal__content logic-block flex flex_justify-content_space-between flex_direction_column flex_align-items_center">
            <span href="#" id="modal__btn-close" onclick="{{stringifyFunc modalClose}}">&times;</span>
            <h2 class="logic-block__header modal__header">{{headerTitle}}</h2>
            <div class="modal__body">
                {{{content}}}
            </div>
        </div>
    </div>
</div>
