@import '../../style/globalVariableStyle.scss';
@import '../../style/mixin.scss';
.dialog-item {
  @include flex-constructor(row, start, null);
}
.dialog-item__user-name {
  font-weight: bold;
  padding: 5px;
}
.dialog-item__msg,
.dialog-item__user-time {
  color: $color-gray;
}
.dialog-item__msg {
  width: 100%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
}
.dialog-item__group_big {
  @include flex-constructor(column, center, null);
  flex-wrap: wrap;
  min-width: 0;
}
.dialog-item__group_end {
  @include flex-constructor(column, space-between, null);
  margin-left: auto;
  position: relative;
}
.dialog-item__group_bottom {
  min-width: 0;
  width: 100%;
  @include flex-constructor(row, start, center);
}
.dialog-item__own {
  color: $color-main-dark;
  margin: 0;
}
.dialog-item__marker {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background: $color-minor;
  right: 5px;
  bottom: 10px;
}
.dialog-item__user-time{
  font-size: 12px
}
.dialog-item__avatar{
  padding-right: 5%;
}