@import '../../style/globalVariableStyle.scss';

.dialog-item__user-name {
  font-weight: bold;
  padding: 5px;
}

.dialog-item__msg,
.dialog-item__user-time {
  color: $color-gray;
}

.dialog-item__msg {
  width: 100%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px;
  text-overflow: ellipsis;
}

.dialog-item__group_big {
  min-width: 0;
}

.dialog-item__group_end {
  margin-left: auto;
  position: relative;
}

.dialog-item__group_bottom {
  min-width: 0;
  width: 100%;
}

.dialog-item__marker {
  width: 10px;
  height: 10px;
  position: absolute;
  border-radius: 50%;
  background: $color-minor;
  right: 5px;
  bottom: 10px;
}
