<div class="dialog-item flex flex_direction_row flex_justify-content_start">
    <div class="dialog-item__group dialog-item__avatar">
        {{> avatar }}
    </div>
    <div class=" dialog-item__group dialog-item__group_big flex flex_direction_column flex_wrap_wrap flex_justify-content_center">
        <div class="dialog-item__group_top">
            <span class="dialog-item__user-name">{{name}}</span>
        </div>
        <div class="dialog-item__group_bottom"><p class="dialog-item__msg shortcut">{{text}}</p></div>
    </div>
    <div class="dialog-item__group dialog-item__group_end flex flex_direction_column flex_justify-content_space-between">
        <div class="dialog-item__group_top">
            <span class="dialog-item__user-time">{{time}}</span>
        </div>
        <div class="dialog-item__marker"></div>
    </div>

</div>
