<div class="layout-char flex flex_direction_row flex_justify-content_start">
    <div class="layout-char__item layout-char__item-dialogs"> {{> dialog-list }} </div>
    <div class="layout-char__item layout-char__item-chat"> {{> chat }} </div>
</div>
