$color-light: #ffffff;
$color-dark:  #1e1e1e;
$color-main: #EAA9BD;
$color-main-dark: #CD627FFF;
$color-minor: #7774E2;
$color-minor-light: #74aee2;
$color-body: #F8F7FB;
$color-danger: #cb0554;
$color-gray:  #707070;
$color-gray-light:  #999999;
$color-gray-very-light:  #F2F1F1;

$font-size: 15px;

$shadow: 0px 3px 7px 2px rgba(184, 202, 212, 0.38);

$logo: url('../../../static/ice_cream.png');

$margin-top: 20px;
$margin-left: 20px;
$margin-right: 20px;
$margin-bottom: 20px;

$padding-top: 25px;
$padding-left: 10px;
$padding-right: 10px;
$padding-bottom: 10px;

$radius-big: 25px;
$radius-small: 12px;
