$color-light: #ffffff;
$color-dark: #1e1e1e;
$color-main: #EAA9BD;
$color-main-dark: rgba(205, 98, 127, 0.73);
$color-minor: #7774E2;
$color-selected: #cac9ef40;
$color-minor-light: #74aee2;
$color-body: #F8F7FB;
$color-danger: #cb0554;
$color-gray: #707070;
$color-gray-light: #999999;
$color-gray-very-light: rgba(184, 202, 212, 0.38);
$color-loader: #e5e5e533;
$color-success: hsl(120, 25%, 68%);
$color-warning: #f2cea5;
$color-info: #607d8b;
$font-size: 15px;
$text-shadow: 1px 4px 1px #0000002e;
$shadow: 0px 3px 7px 2px $color-gray-very-light;
$shadowCertant: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$logo: url('../../../static/ice_cream.png');
$margin-top: 20px;
$margin-left: 20px;
$margin-right: 20px;
$margin-bottom: 20px;
$padding-top: 25px;
$padding-left: 10px;
$padding-right: 10px;
$padding-bottom: 10px;
$radius-big: 25px;
$radius-small: 12px;
