@import '../../style/globalVariableStyle.scss';
.avatar {
  background: $color-gray-very-light;
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 50%;
  color: $color-gray-light;
}
.avatar_big {
  width: 100px;
  height: 100px;
}
.avatar_can-change:hover {
  background: $color-gray-light;
  opacity: 0.5;
  cursor: pointer;

  &::after {
    content: 'Поменять аватар';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: $color-dark;
    font-size: $font-size*0.7;
    display: flex;
    align-items: center;
  }
}
